@if (ViewBag.Error != null)
{
    <div class="alert alert-danger fade show">
        @ViewBag.Error
    </div>
} else if(ViewBag.Message != null){
    <div class="alert alert-success fade show">
        @ViewBag.Message
    </div>
}