<div id="header" class="header">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN header-container -->
        <div class="header-container">
            <!-- BEGIN navbar-toggle -->
            <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- END navbar-toggle -->
            <!-- BEGIN header-logo -->
            <div class="header-logo">
                <a href="index.html">
                    <span class="brand-logo"></span>
                    <span class="brand-text">
                        <span>Super</span>Knjižara
                        <small>internet trgovina knjiga</small>
                    </span>
                </a>
            </div>

            <!-- END header-logo -->
            <!-- BEGIN header-nav -->
            <div class="header-nav">

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav justify-content-center">

                        <li class="active"><a href="index.html">Home</a></li>


                        <li><a href="product.html">New Arrival</a></li>

                        <li class="dropdown dropdown-hover">
                            <a href="#" data-bs-toggle="dropdown">
                                <i class="fa fa-search search-btn"></i>
                                <span class="arrow top"></span>
                            </a>
                            <div class="dropdown-menu p-15px">
                                <form id="search-form" name="search_form">
                                    <div class="input-group">
                                        <input id="search-input" type="text" placeholder="Search" class="form-control bg-light" />
                                        <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END header-nav -->
            <!-- BEGIN header-nav -->
            <div class="header-nav">
                <ul class="nav justify-content-end">
                    <li class="dropdown dropdown-hover">
                        <a href="#" class="header-cart" data-bs-toggle="dropdown">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="total">2</span>
                            <span class="arrow top"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-cart p-0">
                            <div class="cart-header">
                                <h4 class="cart-title">Shopping Bag (1) </h4>
                            </div>
                            <div class="cart-body">
                                <ul class="cart-item">
                                    <li>
                                        <div class="cart-item-image"><img src="../assets/img/product/product-ipad.jpg" alt="" /></div>
                                        <div class="cart-item-info">
                                            <h4>iPad Pro Wi-Fi 128GB - Silver</h4>
                                            <p class="price">$699.00</p>
                                        </div>
                                        <div class="cart-item-close">
                                            <a href="#" data-bs-toggle="tooltip" data-bs-title="Remove">&times;</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-item-image"><img src="../assets/img/product/product-imac.jpg" alt="" /></div>
                                        <div class="cart-item-info">
                                            <h4>21.5-inch iMac</h4>
                                            <p class="price">$1299.00</p>
                                        </div>
                                        <div class="cart-item-close">
                                            <a href="#" data-bs-toggle="tooltip" data-bs-title="Remove">&times;</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-item-image"><img src="../assets/img/product/product-iphone.png" alt="" /></div>
                                        <div class="cart-item-info">
                                            <h4>iPhone 6s 16GB - Silver</h4>
                                            <p class="price">$649.00</p>
                                        </div>
                                        <div class="cart-item-close">
                                            <a href="#" data-bs-toggle="tooltip" data-bs-title="Remove">&times;</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-footer">
                                <div class="row gx-2">
                                    <div class="col-6">
                                        <a href="checkout_cart.html" class="btn btn-default btn-theme d-block">View Cart</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="checkout_cart.html" class="btn btn-dark btn-theme d-block">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <partial name="Partials/_Account" />
                    </li>
                </ul>
            </div>
            <!-- END header-nav -->
        </div>
        <!-- END header-container -->
    </div>
    <!-- END container -->
</div>


<script defer>

    function onFormSubmitDefault(e){
        e.preventDefault();
       let searchInput = document.getElementById("search-input").value;
       window.location.replace("/books?search="+searchInput);

    }
    document.getElementById("search-form").addEventListener("submit",
    typeof onSearchFormSubmit === "undefined"?  onFormSubmitDefault : onSearchFormSubmit);
</script>