@*TODO - Provjeriti da li je korisnik prijavljen i prikazati logout*@

@if (false)
{
    <a href="javascript:;">
        <img src="../assets/img/user/user-1.jpg" class="user-img" alt="" />
        <span class="d-none d-xl-inline">Tomislav</span>
    </a>
}
else
{
    <div class="account">
        <a asp-controller="Speaker" asp-action="Index">Login</a>
        /
        <a asp-controller="Speaker" asp-action="Index">Register</a>
    </div>
}
