<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewBag.Title - Knjižara</title>
<meta content="" name="description" />
<meta content="" name="author" />

<!-- ================== BEGIN core-css ================== -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

<link href="~/front/css/vendor.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/front/css/app.min.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/front/css/site.css" rel="stylesheet" asp-append-version="true"/>
<!-- ================== END core-css ================== -->
