<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <mjml>
            <mj-body background-color="#fafbfc">
                <mj-section padding-bottom="20px" padding-top="20px">
                    <mj-column vertical-align="middle" width="100%">
                        <mj-image align="center" padding="25px" src="https://global-uploads.webflow.com/5f059a21d0c1c3278fe69842/5f188b94aebb5983b66610dd_logo-Mitzl.png" width="125px"></mj-image>
                    </mj-column>
                </mj-section>
                <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
                    <mj-column vertical-align="middle" width="100%">
                        <div>


                            <span>Hello,</span>
                        </div>
                        <mj-text align="center" font-size="16px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">You have requested us to send a magic link to automatically sign in to Mitzl.</mj-text>
                        <div style="display:block; margin:4rem;" align="center" font-size="18px" background-color="#20c5a0" border-radius="8px" color="#fff" font-family="open Sans Helvetica, Arial, sans-serif">
                            <a style="padding:1rem; cursor:pointer; background-color:green; color:white; border-radius:1rem;" href="{MAGIC_LINK}">  Click here to sign in </a>
                        </div>
                        <div align="center" font-size="8px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">(This link will expire in 5 minutes)</div>
                        <mj-text align="center" font-size="16px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">Thanks! <br />Mitzl team</mj-text>
                    </mj-column>
                </mj-section>
            </mj-body>
        </mjml>
    </div>
</body>
</html>